{{!< default}}

<div class="gh-outer">
    <main class="site-main gh-inner">
        <div class="post-feed gh-feed">
            {{#foreach posts}}
                {{> "portfolio-loop"}}
            {{/foreach}}
        </div>
    </main>
</div>